Notes about this Kindle Automator project:

- This repo is a web frontend (Flask server in server.py) for automating the Kindle Android app. The user will provide their username, password, captcha, 2fa codes, and page turning commands in web requests. The server will provide screenshots of the page while reading, screenshots of any captchas, 2fa code requests, and username/password requests for logging in.
- To test changes, run `make server` in the background and then run `make test-books` to test the initialize, authorization, and book listing routines.
- Remember: the server must be run in the background because it will never return otherwise.
- All XPath expressions belong in the strategies.py files that are related to the handlers and views of the automator.
- The automator itself is in automator.py and driver.py.
- Each view (auth, home tab, library tab, notifications, reading, etc) corresponds to a view in the Kindle app. When using the automator, the user could be on any view, so it's up to the automator to correctly determine which view the user is on and then proceed based on the request commands.
- Logs from the server are in logs/server.log and the newest entries at the bottom are from the most recent run. Use this log to read the page source of the Android app in the event of an early return or termination to determine why an unknown view isn't resolving into a known view.
- Don't start appium or run adb separately. Always use the Makefile to run the server and issue web requests to the server, which should in turn ensure appium is running. If appium fails to start, simply kill the server and restart it.
