Appium-Python-Client==4.5.0
black==24.8.0
flake8==7.1.1
isort==5.13.2
Pillow==11.1.0
selenium==4.28.1
Flask==3.1.0
requests==2.32.3
flask_restful==0.3.10
mistralai==1.5.1
python-dotenv==1.0.1
pytz==2024.1
APScheduler==3.10.4
boto3==1.38.25
pytest==8.3.4
