---
# Task file to create and enable service instances

- name: Set instance number variable
  set_fact:
    instance_number: "{{ item }}"

- name: Create helper script for emulator with VNC display for instance {{ instance_number }}
  template:
    src: vnc-emulator-launcher@.sh.j2
    dest: "/usr/local/bin/vnc-emulator-launcher-{{ instance_number }}.sh"
    mode: "0755"
  vars:
    item: "{{ instance_number }}"

- name: Clean up any existing processes for display {{ instance_number }}
  block:
    - name: Stop any running services for display {{ instance_number }}
      systemd:
        name: "{{ service_name }}"
        state: stopped
      loop_control:
        loop_var: service_name
      loop:
        - "vnc@{{ instance_number }}"
        - "xvfb@{{ instance_number }}"
        - "novnc@{{ instance_number }}"
      ignore_errors: yes

    - name: Kill any leftover Xvfb processes for display {{ instance_number }}
      shell: "pkill -f 'Xvfb :{{ instance_number }}' || true"
      ignore_errors: yes

    - name: Remove Xvfb lock files for display {{ instance_number }}
      file:
        path: "{{ lock_file }}"
        state: absent
      loop_control:
        loop_var: lock_file
      loop:
        - "/tmp/.X{{ instance_number }}-lock"
        - "/tmp/.X11-unix/X{{ instance_number }}"

- name: Enable and start Xvfb service for instance {{ instance_number }}
  systemd:
    name: "xvfb@{{ instance_number }}"
    enabled: yes
    state: started
    daemon_reload: yes

- name: Enable and start VNC service for instance {{ instance_number }}
  systemd:
    name: "vnc@{{ instance_number }}"
    enabled: yes
    state: started
    daemon_reload: yes

- name: Enable and start noVNC service for instance {{ instance_number }}
  systemd:
    name: "novnc@{{ instance_number }}"
    enabled: yes
    state: started
    daemon_reload: yes