{
    default_sni prod5.sindarin.com
    debug
}

prod5.sindarin.com {
    tls /srv/certs/certificate.crt /srv/certs/private.key {
        ca_root /srv/certs/ca_bundle.crt
        protocols tls1.0 tls1.2
        ciphers TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256 TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384 TLS_RSA_WITH_AES_128_GCM_SHA256 TLS_RSA_WITH_AES_256_GCM_SHA384
    }

    log {
        output file /var/log/caddy/access.log {
            roll_size 10mb
            roll_keep 5
            roll_keep_for 720h
        }
        format json
        level DEBUG
    }

    reverse_proxy localhost:4096
}

:443 {
    handle {
        abort
    }

    file_server /static/* {
        root /srv/sol-web/static
    }
}
