---
- name: Ensure DO_DOCKER_REGISTRY_TOKEN is set
  fail:
    msg: "DO_DOCKER_REGISTRY_TOKEN is not set, set `ansible/.env.ansible.yml` from 1Password"
  when: DO_DOCKER_REGISTRY_TOKEN is not defined

- name: Log in to DigitalOcean Container Registry
  shell: |
    echo {{ DO_DOCKER_REGISTRY_TOKEN }} | docker login registry.digitalocean.com -u sam@solreader.com --password-stdin
  args:
    executable: /bin/bash

- name: Prune docker to recollect disk space
  shell: |
    docker system prune -f
  args:
    executable: /bin/bash

- name: Run new Docker container with a temporary name
  docker_container:
    name: "{{ docker_container_name }}_new"
    image: "{{ docker_registry_url }}/{{ docker_image }}:{{ 'prod' if 'sol' in inventory_hostname else 'staging' }}"
    pull: true
    state: started
    restart_policy: always
    command: "gunicorn sol.wsgi:application --bind :4096 --workers 1"
    hostname: "{{ docker_container_name }}_new"
    networks:
      - name: sol-network
    ports:
      - "4097:4096"
    volumes:
      - /srv/sol-web/static:/app/static
      - /srv/sol-web/media:/app/media
      - "/srv/sol-web/sol/.env.{{ 'prod' if 'sol' in inventory_hostname else 'staging' }}:/app/sol/.env.{{ 'prod' if 'sol' in inventory_hostname else 'staging' }}"
    env:
      ENVIRONMENT: "{{ 'PROD' if 'sol' in inventory_hostname else 'STAGING' }}"
      DEBUG: "false"

- name: Wait for new temp container to be healthy
  uri:
    url: "{{ health_check_url_new }}"
    status_code: 200
    validate_certs: no
  register: result
  retries: "{{ max_retries }}"
  delay: "{{ deploy_delay }}"
  until: result.status == 200

- name: Run migrate in new container
  shell: |
    docker exec -it {{ docker_container_name }}_new python manage.py migrate
  args:
    executable: /bin/bash

- name: Run collectstatic in new container
  shell: |
    docker exec -it {{ docker_container_name }}_new python manage.py collectstatic --noinput
  args:
    executable: /bin/bash

- name: Run new Docker container with the original name
  docker_container:
    name: "{{ docker_container_name }}"
    image: "{{ docker_registry_url }}/{{ docker_image }}:{{ 'prod' if 'sol' in inventory_hostname else 'staging' }}"
    pull: true
    state: started
    restart_policy: always
    command: "gunicorn sol.wsgi:application --bind :4096 --workers 2"
    hostname: "{{ docker_container_name }}"
    networks:
      - name: sol-network
    ports:
      - "4096:4096"
    volumes:
      - /srv/sol-web/static:/app/static
      - /srv/sol-web/media:/app/media
      - "/srv/sol-web/sol/.env.{{ 'prod' if 'sol' in inventory_hostname else 'staging' }}:/app/sol/.env.{{ 'prod' if 'sol' in inventory_hostname else 'staging' }}"
    env:
      ENVIRONMENT: "{{ 'PROD' if 'sol' in inventory_hostname else 'STAGING' }}"
      DEBUG: "false"

- name: Wait for new original container to be healthy
  uri:
    url: "{{ health_check_url_old }}"
    status_code: 200
    validate_certs: no
  register: result
  retries: "{{ max_retries }}"
  delay: "{{ deploy_delay }}"
  until: result.status == 200

- name: Stop and remove temp Docker container
  docker_container:
    name: "{{ docker_container_name }}_new"
    state: absent
