---
- name: Provision Sol Kindle Automator server
  hosts: all
  become: true

  roles:
    - { role: provision, tags: base }
    - { role: mount_drives, tags: storage, when: "'bigdrives' in group_names" }
    # - { role: storagebox, tags: storage }
    - { role: nginx, tags: nginx }
    - { role: mezmo, tags: mezmo }
    - { role: android_x86, tags: [android-x86, android] }
    - { role: scrcpy, tags: scrcpy }
    - { role: rfbproxy, tags: rfbproxy }
    - { role: vnc_server, tags: vnc }
    - { role: server, tags: server }
