---
- name: Provision Sol Kindle Automator server
  hosts: all
  become: yes

  roles:
    - { role: provision, tags: base }
    - { role: nginx, tags: nginx }
    - { role: mezmo, tags: mezmo }
    - { role: android_x86, tags: [android-x86, android] }
    - { role: scrcpy, tags: scrcpy }
    - { role: rfbproxy, tags: rfbproxy }
    - { role: vnc_server, tags: vnc }
    - { role: server, tags: server }
