---
- name: Provision Sol Kindle Automator server
  hosts: all
  become: yes

  roles:
    - { role: provision, tags: base }
    - { role: nginx, tags: nginx, when: "'kindle' in inventory_hostname" }
    - { role: certbot, tags: certbot, when: "'kindle' in inventory_hostname" }
    - { role: mezmo, tags: mezmo }
    - { role: android_x86, tags: android-x86 }
    # - { role: android_arm, tags: android-arm }
    - { role: server, tags: server }
