---
- name: Provision Sol Kindle Automator server
  hosts: all
  become: true

  roles:
    - { role: provision, tags: base }
    - { role: mount_drives, tags: storage, when: "'bigdrives' in group_names" }
    # - { role: storagebox, tags: storage }
    - { role: nginx, tags: nginx }
    - { role: mezmo, tags: mezmo }
    - { role: firewall, tags: firewall }
    - { role: postgres, tags: postgres, when: "'db' in group_names" }
    - { role: redis, tags: redis }  # Using Digital Ocean managed Redis
    - { role: android_x86, tags: [android-x86, android], when: "'db' not in group_names" }
    - { role: scrcpy, tags: scrcpy, when: "'db' not in group_names" }
    - { role: rfbproxy, tags: rfbproxy, when: "'db' not in group_names" }
    - { role: vnc_server, tags: vnc, when: "'db' not in group_names" }
    - { role: server, tags: server, when: "'db' not in group_names" }
