[Unit]
Description=Standalone VNC Service for Kindle Automator
After=network.target

[Service]
User={{ ansible_user }}
ExecStart=/usr/local/bin/start-standalone-vnc.sh
Restart=on-failure
RestartSec=10
# Give it some time to start up
TimeoutStartSec=30

[Install]
WantedBy=multi-user.target