[Unit]
Description=VNC Server for Remote Access %i
After=xvfb@%i.service
Requires=xvfb@%i.service

[Service]
User={{ ansible_user }}
Environment=DISPLAY=:%i
ExecStart=/usr/local/bin/start-vnc-clipped.sh auto :%i {{ 5900 + ('%i'|int) }} {{ vnc_password }} %i
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target