---
- name: Update and install dependencies
  apt:
    name:
      - certbot
      - python3
      - python3-pip
      - python3-venv
    state: present

- name: Create venv for certbot
  command: python3 -m venv /srv/certs/kindle.sindarin.com/venv
  args:
    creates: /srv/certs/kindle.sindarin.com/venv

- name: Install certbot-dns-godaddy plugin
  pip:
    name: certbot-dns-godaddy
    state: present
    virtualenv: /srv/certs/kindle.sindarin.com/venv

- name: Create GoDaddy credentials file
  copy:
    content: |
      dns_godaddy_secret = {{ GODADDY_API_SECRET }}
      dns_godaddy_key = {{ GODADDY_API_KEY }}
    dest: /etc/letsencrypt/godaddy.ini
    owner: root
    group: root
    mode: 0600

- name: Generate Diffie-Hellman parameters
  command: openssl dhparam -out /srv/certs/kindle.sindarin.com/dhparam.pem 2048
  args:
    creates: /srv/certs/kindle.sindarin.com/dhparam.pem

- name: Generate RSA private key for Let's Encrypt
  command: >
    openssl genrsa -out /srv/certs/kindle.sindarin.com/privkey.pem 2048
  args:
    creates: /srv/certs/kindle.sindarin.com/privkey.pem

- name: Generate CSR configuration file
  copy:
    dest: /srv/certs/kindle.sindarin.com/csr.conf
    content: |
      [ req ]
      default_bits = 2048
      prompt = no
      default_md = sha256
      req_extensions = req_ext
      distinguished_name = dn

      [ dn ]
      CN = *.sindarin.com

      [ req_ext ]
      subjectAltName = @alt_names

      [ alt_names ]
      DNS.1 = *.sindarin.com
      DNS.2 = *.solreader.com
  register: csr_result

- name: Delete old CSR when CSR config changes
  file:
    path: /srv/certs/kindle.sindarin.com/cert.csr
    state: absent
  when: csr_result.changed

- name: Generate CSR for Let's Encrypt
  command: >
    openssl req -new -key /srv/certs/kindle.sindarin.com/privkey.pem -out /srv/certs/kindle.sindarin.com/cert.csr -config /srv/certs/kindle.sindarin.com/csr.conf
  args:
    creates: /srv/certs/kindle.sindarin.com/cert.csr

- name: Obtain Let's Encrypt certificate using CSR
  command: >
    /srv/certs/kindle.sindarin.com/venv/bin/certbot certonly --authenticator dns-godaddy --dns-godaddy-propagation-seconds 120 --dns-godaddy-credentials /etc/letsencrypt/godaddy.ini --config-dir /srv/certs --work-dir /srv/certs --logs-dir /srv/certs --csr /srv/certs/kindle.sindarin.com/cert.csr --cert-path /srv/certs/kindle.sindarin.com/new_cert.pem --chain-path /srv/certs/kindle.sindarin.com/new_chain.pem --fullchain-path /srv/certs/kindle.sindarin.com/new_fullchain.pem --agree-tos --email "sam@solreader.com" --non-interactive -d "*.sindarin.com" -d "*.solreader.com"
  register: certbot_result
  args:
    creates: /srv/certs/kindle.sindarin.com/new_cert.pem

- name: Move Certbot certificate files to correct location
  command: mv "{{ item.src }}" "{{ item.dest }}"
  with_items:
    - {
        src: "/srv/certs/kindle.sindarin.com/new_cert.pem",
        dest: "/srv/certs/kindle.sindarin.com/cert.pem",
      }
    - {
        src: "/srv/certs/kindle.sindarin.com/new_chain.pem",
        dest: "/srv/certs/kindle.sindarin.com/chain.pem",
      }
    - {
        src: "/srv/certs/kindle.sindarin.com/new_fullchain.pem",
        dest: "/srv/certs/kindle.sindarin.com/fullchain.pem",
      }
  when: certbot_result.changed

- name: Create Certbot renewal script
  copy:
    content: |
      #!/bin/bash
      set -e
      /srv/certs/kindle.sindarin.com/venv/bin/certbot certonly --authenticator dns-godaddy --dns-godaddy-propagation-seconds 120 --dns-godaddy-credentials /etc/letsencrypt/godaddy.ini --config-dir /srv/certs --work-dir /srv/certs --logs-dir /srv/certs --cert-path /srv/certs/kindle.sindarin.com/new_cert.pem --chain-path /srv/certs/kindle.sindarin.com/new_chain.pem --fullchain-path /srv/certs/kindle.sindarin.com/new_fullchain.pem --agree-tos --deploy-hook "/etc/letsencrypt/deploy_hook.sh" --email "sam@solreader.com" --non-interactive -d "*.sindarin.com" -d "*.solreader.com"
      mv /srv/certs/kindle.sindarin.com/new_cert.pem /srv/certs/kindle.sindarin.com/cert.pem
      mv /srv/certs/kindle.sindarin.com/new_chain.pem /srv/certs/kindle.sindarin.com/chain.pem
      mv /srv/certs/kindle.sindarin.com/new_fullchain.pem /srv/certs/kindle.sindarin.com/fullchain.pem
      chown -R root:root /srv/certs/kindle.sindarin.com
      chmod 600 /srv/certs/kindle.sindarin.com/privkey.pem
      sudo systemctl reload nginx
    dest: /etc/letsencrypt/renew_with_csr.sh
    owner: root
    group: root
    mode: 0755

- name: Create Certbot deploy hook script
  copy:
    content: |
      #!/bin/bash
      systemctl reload nginx
    dest: /etc/letsencrypt/deploy_hook.sh
    owner: root
    group: root
    mode: 0755

- name: Set up a cron job for automatic renewal
  cron:
    name: "Renew Let's Encrypt certificate"
    minute: "0"
    hour: "0"
    job: "/etc/letsencrypt/renew_with_csr.sh >> /var/log/le-renew.log 2>&1"
    user: root
